---
layout: homepage
---

<div class="home">

<!--LOGOTYPE-->
  <section class="full-height homepage-bg">
    <div class="wrapper">
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </div>
  </section>
    
  <!--PROJECTS LIST-->
  <div class="projects-list">
    <h2><a href="#">Projects</a></h2>
    <div class="grid">
      <div class="cards">
        {% for project in site.projects %}
          {% if project.type == "major" %}
          <article>
            <div class="{{ project.logo }}">
              <h2><!--<a href="{{ project.url | prepend: site.baseurl }}">-->{{ project.title }}<!--</a>--></h2>
            </div>
            <p>
              {{ project.short_description }}
            </p>
            <p> Project leads: 
              {% for lead in project.leads %}
                <a href="#">{{ lead.name }} </a>
              {% endfor %}
            </p>
            <ul>
              <li><a class="button" href="{{ project.url }}">Learn more</a></li>
            </ul>
          </article>
          {% endif %}
        {% endfor %}
      </div>
    </div>
<div class="feed compressed">
      {% for post in site.posts %}
      <article>
          <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p><strong>{% if post.author %}by {{ post.author }} {% endif %}posted to {% for category in post.categories %}{{ category | capitalize }}{% endfor %} <span class="nobreak">- {{ post.date | date: "%b %-d, %Y" }}</span></strong></p>
          <img src="{{ post.image }}"  />
          <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
          <a href="{{ post.url }}">Continue reading</a>
      </article>
      {% endfor %}
    </div>
    
    <!--<div class="feed compressed">
      {% for project in site.projects %}
      <article>
        <h2><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></h2>
        <p>
        {% for lead in project.leads %}
          <a href="#">{{ lead.name }}</a>
        {% endfor %}
        (project leads)</p>
        <!--<img src="{{ post.image }}"  />
        <p>{{ project.short_description }}</p>
        <a href="{{ project.url }}">Learn more</a>
      </article>
      {% endfor %}
    </div>--> 
  </div>
  
<!--BLOG FEED-->
    <!--<div class="feed">
      {% for post in site.posts %}
      <article>
          <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <p><strong>by <a href="#">David Edward Clark</a> posted to <a href="#">News</a> <span>{{ post.date | date: "%b %-d, %Y" }}</span></strong></p>
          <img src="{{ post.image }}"  />
          <p>{{ post.content | strip_html | truncatewords: 40 }}</p>
          <a href="{{ post.url }}">Continue reading</a>
      </article>
      {% endfor %}
    </div>-->
  
</div>
